{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <h2 class="mb-4">Избранные объявления</h2>
    <div class="row">
        {% for ad in liked_ads %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>{{ ad.title }}</h5>
                </div>
            </div>
        </div>
        {% empty %}
        <p>У вас пока нет избранных объявлений.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
